<div class="row">
  <div class="large-5 small-6 columns">
    <h1>All Galaxies</h1>

      <ul>
        <%- @galaxies.each do |galaxy| -%>
            <li><%= link_to galaxy.name, '/galaxies/' + galaxy.to_param %></li>
        <%- end -%>
      </ul>
    <p><%= link_to "Create New Galaxy", new_galaxy_path %></p>
  </div>

  <div class="large-5 small-6 columns">
    <h2>Games You're Running:</h2>
    <ul>
      <% current_user.owned_galaxies.each do |galaxy| %>
        <li><%= link_to galaxy.name, '/galaxies/' + galaxy.to_param %></li>
      <% end %>
    </ul>

    <h2>Games You're Playing:</h2>
    <ul>
      <% current_user.galaxies.uniq.each do |galaxy| %>
        <li><%= link_to galaxy.name, '/galaxies/' + galaxy.to_param %></li>
      <% end %>
    </ul>
  </div>
</div>
