<% if @unit.id %>
$("#contents").append("<li id=\"unit-<%= @unit.id %>\"> <%=@unit.name%> <a data-remote=\"true\" rel=\"nofollow\" data-method=\"delete\" href=\"/units/<%=@unit.id%>\">Delete Unit</a>");
<% end %>
